.movie-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--m-dimension-600);
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  &__error,
  &__status {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font: var(--m-text-title-2);
    color: var(--m-color-rose-500);
  }

  &__back-link {
    font: var(--m-text-subtitle-1);
    color: var(--m-color-rose-500);
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: var(--m-dimension-200);
    margin-bottom: var(--m-dimension-400);
    &:hover {
      text-decoration: underline;
    }
  }

  &__layout {
    background-color: var(--m-color-neutral-0);
    padding: var(--m-dimension-800);
    border-radius: var(--m-dimension-400);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--m-dimension-1200);
    align-items: start;
    @include breakpoints.tablet {
      padding: var(--m-dimension-600);
      gap: var(--m-dimension-800);
    }
    @include breakpoints.mobile {
      grid-template-columns: 1fr;
      gap: var(--m-dimension-600);
      padding: var(--m-dimension-600);
    }
  }

  &__poster {
    width: 100%;
    border-radius: var(--m-dimension-400);
    object-fit: cover;
    aspect-ratio: 4/6;
    @include breakpoints.mobile {
      aspect-ratio: 4/5;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font: var(--m-text-display-2);
    color: var(--m-color-foreground-main-primary-default);
    margin-bottom: var(--m-dimension-600);
    @include breakpoints.desktop {
      font: var(--m-text-display-3);
      font-weight: var(--m-font-weight-600);
    }
    @include breakpoints.tablet {
      font: var(--m-text-heading-1);
      font-weight: var(--m-font-weight-600);
    }
    @include breakpoints.mobile {
      font: var(--m-text-heading-3);
      font-weight: var(--m-font-weight-600);
    }
  }

  &__plot {
    margin-bottom: var(--m-dimension-1000);
  }

  &__info {
    max-width: 100%;
    overflow: auto;

    table.table-info {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }

    /* ALL Cells */
    table.table-info th,
    table.table-info td {
      min-width: 80px;
      box-sizing: border-box;
      border-right: var(--m-dimension-25) solid var(--m-color-neutral-950);
      border-bottom: var(--m-dimension-25) solid var(--m-color-neutral-950);
      padding: var(--m-dimension-200);
      text-align: left;
    }

    /* Left border */
    table.table-info th:first-child,
    table.table-info td:first-child {
      border-left: var(--m-dimension-25) solid var(--m-color-neutral-950);
    }

    /* TOP border for first row (fix) */
    table.table-info tr:first-child th,
    table.table-info tr:first-child td {
      border-top: var(--m-dimension-25) solid var(--m-color-neutral-950);
    }

    /* Header on the left */
    table.table-info th {
      color: var(--m-color-neutral-950);
    }

    /* Corners */
    table.table-info tr:first-child th:first-child {
      border-top-left-radius: var(--m-dimension-200);
    }

    table.table-info tr:first-child td:last-child {
      border-top-right-radius: var(--m-dimension-200);
    }

    table.table-info tr:last-child th:first-child,
    table.table-info tr:last-child td:first-child {
      border-bottom-left-radius: var(--m-dimension-200);
    }

    table.table-info tr:last-child td:last-child {
      border-bottom-right-radius: var(--m-dimension-200);
    }
  }
}

