.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__poster {
    border-radius: var(--m-dimension-400);
    aspect-ratio: 4/3;
    overflow: hidden;
    position: relative;
    &:hover {
      img {
        filter: blur(5px);
      }
      .movie-card__poster-icon {
        opacity: 1;
        visibility: visible;
      }
    }
    &-image {
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
      pointer-events: none;
    }
    &-icon {
      all: unset;
      opacity: 0;
      visibility: hidden;
      display: flex;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--m-color-neutral-0);
      padding: var(--m-dimension-100);
      background-color: var(--m-color-rose-500);
      &:hover {
        background-color: var(--m-color-rose-400);
      }
      svg {
        width: var(--m-dimension-1200);
        height: var(--m-dimension-1200);
      }
    }
  }
  &__info {
    padding: var(--m-dimension-400);
    display: flex;
    flex-direction: column;
  }
  &__title {
    font: var(--m-text-title-1);
    font-weight: var(--m-font-weight-600);
    color: var(--m-color-foreground-main-primary-default);
    margin-bottom: var(--m-dimension-100);
    @include breakpoints.tablet {
      font: var(--m-text-title-2);
      font-weight: var(--m-font-weight-600);
    }
    @include breakpoints.mobile {
      font: var(--m-text-title-2);
      font-weight: var(--m-font-weight-600);
    }
  }
}