.movie-list {
  display: flex;
  flex-direction: column;
  gap: var(--m-dimension-600);
  &__grid {
    display: grid;
    gap: var(--m-dimension-600);
    grid-template-columns: 1fr 1fr 1fr;
    @include breakpoints.tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoints.mobile {
      grid-template-columns: 1fr;
    }
  }
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text-status {
    text-align: center;
    font: var(--m-text-title-2);
  }
  &__observer {
    margin-top: var(--m-dimension-600);
  }
}