[class*="m-scroll-lock"] {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font: var(--m-text-body-2);
  color: var(--m-color-neutral-600);
  background-color: var(--m-color-neutral-50);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.g-container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--m-dimension-1000);
  padding-right: var(--m-dimension-1000);
  @include breakpoints.tablet {
    padding-left: var(--m-dimension-800);
    padding-right: var(--m-dimension-800);
  }
  @include breakpoints.mobile {
    padding-left: var(--m-dimension-400);
    padding-right: var(--m-dimension-400);
  }
}

.g-page-wrapper {
  padding-top: var(--m-dimension-2000);
  min-height: calc(100vh - var(--m-dimension-1600));
  box-sizing: border-box;
}

.g-page {
  padding-top: var(--m-dimension-1200);
  padding-bottom: var(--m-dimension-1200);
}
